<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!--本地测试环境 -->
    <springProfile name="test">
        <appender class="net.logstash.logback.appender.LogstashTcpSocketAppender"
          name="LOGSTASH_SOCKET">
            <destination>10.170.0.2:5044</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"index":"weipin-cash-loan-privilege","type":"logback"}
                </customFields>
            </encoder>
        </appender>
        <logger level="INFO" name="nirvana.cash.loan.privilege">
            <appender-ref ref="LOGSTASH_SOCKET"/>
        </logger>
    </springProfile>

    <springProfile name="pre">
        <appender class="net.logstash.logback.appender.LogstashTcpSocketAppender"
          name="LOGSTASH_SOCKET">
            <destination>pre-logstash.gs.9188.com:51005</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"index":"weipin-cash-loan-privilege","type":"logback"}
                </customFields>
            </encoder>
        </appender>
        <logger level="INFO" name="nirvana.cash.loan.privilege">
            <appender-ref ref="LOGSTASH_SOCKET"/>
        </logger>
    </springProfile>

    <springProfile name="prod">
        <appender class="net.logstash.logback.appender.LogstashTcpSocketAppender"
          name="LOGSTASH_SOCKET">
            <destination>172.31.99.77:5044</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"index":"weipin-cash-loan-privilege","type":"logback"}
                </customFields>
            </encoder>
        </appender>
        <logger level="INFO" name="nirvana.cash.loan.privilege">
            <appender-ref ref="LOGSTASH_SOCKET"/>
        </logger>
    </springProfile>

    <springProfile name="ABCash">
        <appender class="net.logstash.logback.appender.LogstashTcpSocketAppender"
          name="LOGSTASH_SOCKET">
            <destination>172.31.88.131:5044</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"index":"weipin-cash-loan-privilege","type":"logback"}</customFields>
            </encoder>
        </appender>
        <logger level="INFO" name="nirvana.cash.loan.privilege">
            <appender-ref ref="LOGSTASH_SOCKET"/>
        </logger>
    </springProfile>

</configuration>