<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nirvana.cash.loan.privilege.dao.MessageConfigMapper">

    <update id="updateMessageConfig" parameterType="nirvana.cash.loan.privilege.domain.MessageConfig">
      UPDATE TB_YOFISHDK_AUTH_MSG_CONFIG
      SET UPDATE_TIME = #{updateTime, jdbcType=VARCHAR},UPDATE_USER = #{updateUser, jdbcType=VARCHAR},MSG_CONTENT = #{msgContent, jdbcType=VARCHAR}
      WHERE ID = #{id}
    </update>
    <update id="updateRun" parameterType="nirvana.cash.loan.privilege.domain.MessageConfig">
         UPDATE TB_YOFISHDK_AUTH_MSG_CONFIG
         SET is_run = #{isRun, jdbcType=INTEGER}, UPDATE_TIME = #{updateTime, jdbcType=VARCHAR},UPDATE_USER = #{updateUser, jdbcType=VARCHAR}
         WHERE ID = #{id}
    </update>
</mapper>