<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nirvana.cash.loan.privilege.dao.RoleMenuMapper">
  <resultMap id="BaseResultMap" type="nirvana.cash.loan.privilege.domain.RoleMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ROLE_ID" jdbcType="DECIMAL" property="roleId" />
    <result column="MENU_ID" jdbcType="DECIMAL" property="menuId" />
  </resultMap>

  <select id="findUserIdListByMenuId" resultType="java.lang.Long">
    SELECT
          USER_ID
    FROM TB_YOFISHDK_AUTH_USER_ROLE
    WHERE ROLE_ID IN (
       SELECT ROLE_ID FROM TB_YOFISHDK_AUTH_ROLE_MENU WHERE MENU_ID = #{menuId}
    )
  </select>
</mapper>