<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nirvana.cash.loan.privilege.common.dao.SeqenceMapper">

  <select id="getSequence" resultType="java.lang.Long" parameterType="java.lang.String">
    select ${seqName}.nextval from dual
  </select>

</mapper>