<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nirvana.cash.loan.privilege.dao.UserMapper">
  <resultMap id="BaseResultMap" type="nirvana.cash.loan.privilege.domain.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="DEPT_ID" jdbcType="DECIMAL" property="deptId" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="CRATE_TIME" jdbcType="TIMESTAMP" property="crateTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="SSEX" jdbcType="CHAR" property="ssex" />
    <result column="THEME" jdbcType="VARCHAR" property="theme" />
    <result column="AVATAR" jdbcType="VARCHAR" property="avatar" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
    <result column="is_delete" jdbcType="DECIMAL" property="isDelete" />
	  <result column="SEAT_NUMBER" jdbcType="VARCHAR" property="seatNumber" />
  </resultMap>
  
  <select id="findUserWithDept" resultType="user" parameterType="user">
  		select
			u.user_id userId,u.username,u.email,u.mobile,u.status,u.crate_time crateTime,
			u.ssex,d.dept_name deptName,u.name,u.seat_number seatNumber,
		   ( select
			  listagg(role_id,',') within group (order by role_id)  as  role_ids
			  from tb_yofishdk_auth_user_role ur
		 	 where ur.user_id = u.USER_ID
		    )  roleIds2
	    from tb_yofishdk_auth_user u
  		left join tb_yofishdk_auth_dept d on(u.dept_id = d.dept_id and d.is_delete = 0)
  		where u.is_delete = 0
  		<if test="username != null and username != ''">
        	AND lower(u.username) = #{username}
	    </if>
	    <if test="deptId != null and deptId != ''">
	        AND d.dept_id = #{deptId}
	    </if>
  		<if test="ssex != null and ssex != ''">
	        AND u.ssex = #{ssex}
	    </if>
	    <if test="status != null and status != ''">
	        AND u.status = #{status}
	    </if>
  		order by u.user_id
  </select>
  
    
  <select id="findUserWithRole" resultType="userWithRole">
		select u.user_id userId,u.username,u.dept_id deptId,u.email,u.mobile,
		u.status,u.ssex,ur.role_id roleId,u.name,u.seat_number seatNumber
		from tb_yofishdk_auth_user u
		left join tb_yofishdk_auth_user_role ur on (u.user_id = ur.user_id)
		where u.user_id = #{userId}
  </select>

	<select id="findUserRoldIds" resultType="java.lang.String">
	 select
	      listagg(role_id,',') within group (order by role_id)  as  role_ids
	 from tb_yofishdk_auth_user_role
	 where user_id = #{userId}
	</select>

	<update id="setDeptIdNull" parameterType="java.lang.Long">
		update tb_yofishdk_auth_user
		set dept_id = NULL
		where dept_id = #{deptId}
	</update>

</mapper>